@model Application.ViewModel.HomeViewModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{

    var _user = await UserManager.GetUserAsync(User);
    var _userId = _user?.Id;
    var s = Json.Serialize(Model.Friends);
}


@if (SignInManager.IsSignedIn(User))
{
    <div class="main__container ">

        <div class="menu__container">
            <i class="fas fa-bars menu__button"></i>
            <h4 class="text-white menu__friend-name ">szefnudy</h4>
        </div>

        <div class="content__container">

            <div class="messages__container">

                <div class="message mt-3">
                    <img src="~/images/avatar.png" class="message__profile-picture rounded-circle" />
                    <div class="message__text-container">
                        <div class="information-about-the-message__container">
                            <h4 class="message__profile-name text-white ml-3 text-primary">szefnudy</h4>
                            <p class="message__date-sended ml-1 text-secondary">11/09/2020 15:55</p>
                        </div>

                        <div class="ml-3 text-white">
                            <p>jakis tekst....</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="input-to-send-messages__container mb-2 mt-1">
                <textarea class="input-to-send-messages"></textarea>
            </div>

        </div>
    </div>
    <div class="side-menu__container d-none">

        <form class="form-inline justify-content-center md-form form-sm mt-0">
            <input class=" search-friends__input mt-4" type="text" placeholder="Search" aria-label="Search">
        </form>

        <div class="friends__container">

            @if (Model.Friends != null)
            {
                @foreach (var friend in Model.Friends)
                {
                    var relationShipWhereCurrentUserIsInvited = Model.RelationShips.FirstOrDefault(x => x.InvitedUserId == _userId && x.InvitingUserId == friend.Id);
                    var relationShipWhereCurrentUserIsInviting = Model.RelationShips.FirstOrDefault(x => x.InvitingUserId == _userId && x.InvitedUserId == friend.Id);


                    if (relationShipWhereCurrentUserIsInvited != null)
                    {
                        if (relationShipWhereCurrentUserIsInvited.IsAccepted == false)
                        {

                            <div class="friend__request ml-3 mb-1">
                                <i class="fas fa-check text-success friend__accept-request"></i>
                                <i class="fas fa-times ml-2 text-danger friend__reject-request"></i>
                            </div>
                            <div class="friend__container ml-3 mb-4">
                                <img src="~/images/avatar.png" class="friend__image rounded-circle" />
                                <h4 class="friend__name text-white ml-2 text-break">@friend.UserName</h4>
                            </div>

                        }
                        else
                        {
                            <div class="friend__container ml-3 mb-4">
                                <img src="~/images/avatar.png" class="friend__image rounded-circle" />
                                <h4 class="friend__name text-white ml-2 text-break">@friend.UserName</h4>
                            </div>
                        }
                    }
                    else if (relationShipWhereCurrentUserIsInviting.IsAccepted == true)
                    {
                        <div class="friend__container ml-3 mb-4">
                            <img src="~/images/avatar.png" class="friend__image rounded-circle" />
                            <h4 class="friend__name text-white ml-2 text-break">@friend.UserName</h4>
                        </div>
                    }
                }
            }

        </div>

        <div class="settings__container text-white">
            <i class="fas fa-user-plus add-friend__button ml-1" data-friends='@Json.Serialize(Model.Friends)' data-username="@_user.UserName" ></i>


            <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="text-danger my-0 logout__button">Logout</button>
            </form>

            <i class="fas fa-user-cog settings__button mr-1"></i>
        </div>
    </div> }
else
{
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>}


<script type="module" src="~/js/index.js"></script>